.divSaldo{
    width: 363px;
    height: 96px;
    padding: 20px 24px;

    display: flex;
    justify-content: space-between;    
    background: #FFFFFF;
    border: 1px solid #E9ECEF;
    border-radius: 4px;

    align-items: center;

}

.divSaldo div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.divSaldo div h3{
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #212529;
}

.divSaldo div h6{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #343A40;
}

.divSaldo p{
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
    color: #FD377E;
}